
@{
    ViewData["Title"] = "SignUp";
}
<link href="~/css/register.css" rel="stylesheet" />

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            @*<img id="icon" src="~/Images/recortada.png" />*@
            <br />
            <h4 style="color:#808080">Crea una cuenta</h4>
        </div>
        <br />
        <!-- Login Form -->
        <form action="/auth/signup" method="post">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input type="text" class="fadeIn second" name="Nombre" placeholder="Nombres" autocomplete="off" value="@Model.Nombre">
                    <p style="font-size:11px;color:#808080">@Html.ValidationMessage("Nombre")</p>
                    <p style="font-size:11px;color:#808080">@Html.ValidationMessage("NombreSoloLetras")</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <input value="@Model.Apellidos" type="text" class="fadeIn third" name="Apellidos" placeholder="Apellidos" autocomplete="off">
                    <p style="font-size:11px;color:#808080">@Html.ValidationMessage("ApellidoSoloLetras")</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <input value="@Model.Correo" type="text" class="fadeIn second" name="Correo" placeholder="Correo" autocomplete="off">
                    <p style="font-size:11px;color:#808080">@Html.ValidationMessage("Correo")</p>
                    <p style="font-size:11px;color:#808080">@Html.ValidationMessage("Correo2")</p>
                    <p style="font-size:11px;color:#808080">@Html.ValidationMessage("CorreoDuplex")</p>
                    
                </div>
                <div class="col-lg-6 col-md-6">
                    <input value="@Model.Contrasenia" type="password" class="fadeIn third" name="Contrasenia" placeholder="Contraseña" autocomplete="off">
                    <p style="font-size:11px;color:#808080">@Html.ValidationMessage("Contrasenia")</p>
                    <p style="font-size:11px;color:#808080">@Html.ValidationMessage("ContraseniaMenorA4")</p>
                   
                </div>
                <div class="col-lg-6 col-md-6">
                    <h6 style="color:#808080 " class="fadeIn second">Sexo</h6>
                    <div style="display:inline; color:#808080">
                        <input style="display:inline" class="fadeIn second" type="radio" value="M" name="Sexo">
                        <p style="display:inline" class="fadeIn second">Masculino</p>
                        <input style="display:inline" class="fadeIn second" type="radio" value="F" name="Sexo">
                        <p style="display:inline" class="fadeIn second">Femenino</p>
                        <input style="display:inline" class="fadeIn second" type="radio" value="N" name="Sexo">
                        <p style="display:inline" class="fadeIn second">No Especifica</p>
                        <p style="font-size:11px;color:#808080">@Html.ValidationMessage("Sexo")</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 ">
                    <input value="@Model.Celular" type="text" class="fadeIn third" name="Celular" placeholder="Celular" autocomplete="off">
                    <p style="font-size:11px;color:#808080">@Html.ValidationMessage("Celular")</p>
                    <div class="fadeIn second" style="display:inline; color:#808080">
                        <input style="display:inline" type="radio" value="1" name="TieneWhatsapp">
                        <p style="display:inline">Es whatsapp</p>
                        <input style="display:inline" type="radio" value="0" name="TieneWhatsapp">
                        <p style="display:inline">No es whatsapp</p>
                    </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-md-12 col-md-12">
                        <input type="submit" class="fadeIn fourth" value="Registrarse">
                    </div>
                </div>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="/auth/signin">Login</a>
        </div>

    </div>
</div>

