
@{
    ViewData["Title"] = "Reportes";
    @model PaginatedList<IFoundit.Models.Objeto>
}
<link href="~/css/gridReportes.css" rel="stylesheet" />
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-8">
                    <div class="text-left">
                        <form asp-action="Index" asp- method="get">
                            <input type="search" name="query" value="@ViewData["query"]" placeholder="Buscar" />
                        </form>
                        Ordenar por:
                        <a class="btn" asp-action="Index" asp-route-sortOrder="@ViewData["TitleSort"]"
                           asp-route-currentFilter="@ViewData["currentFilter"]">
                            <text><strong> Nombre A-Z</strong></text>
                        </a>
                        |
                        <a class="btn" asp-action="Index" asp-route-sortOrder="@ViewData["ObjPerdidos"]"
                           asp-route-currentFilter="@ViewData["perdidos"]">
                            <text><strong> Perdidos </strong></text>
                        </a>
                        |
                        <a class="btn" asp-action="Index" asp-route-sortOrder="@ViewData["ObjEncontrados"]"
                           asp-route-currentFilter="@ViewData["encontrados"]">
                            <text><strong> Encontrados </strong></text>
                        </a>
                       
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-right">
                        <a class="button" href="/reporte/create">Crear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="-webkit-box-shadow: 2px 10px 10px 2px rgb(128 128 128);border-radius:8px">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="product_item">
                    <div class="product_item_pic">
                        <div class="product_item_pics">
                            <img class="product_item_pics" src="/PostImg/@item.Imagen" alt="Alternate Text" />
                        </div>
                        <ul class="product__hover">
                            <li>
                                @foreach (var usuarios in ViewBag.users)
                                {
                                    @if (usuarios.Id == item.IdUsuario)
                                    {
                                        <a target="_blank" href="https://api.whatsapp.com/send?phone=@usuarios.Celular&text=He visto esto en IFOUNDIT"><img style="width:35px" src="/Images/logoWh.png" alt=""> <span>Ir a Whatsapp</span></a>

                                    }
                                }
                            </li>

                        </ul>
                    </div>
                    <div class="product_text" style="color:#808080">
                        <h6><strong><a href ="/reporte/details?id=@item.Id">@item.Nombre</a></strong></h6>
                        <p>@item.Descripcion.Substring(0,75)...</p>
                        <p><strong>Recompensa: @item.Recompensa | @item.FechaPublicacion.ToString("dd/MM/yy")</strong></p>
                        <p><strong></strong></p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="text-right">
        <br />
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["currentFilter"]"
           class="btn  @prevDisabled">
            Anterior
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["currentFilter"]"
           class="btn @nextDisabled">
            Siguiente
        </a>
    </div>
</div>
<!--<div class="col-lg-12">
   
    <div id="root">
        <h1>{{mensaje}}</h1>
        <div>
            <input class="form-control" type="text" v-model="txtbuscar" placeholder="buscar" />
            <ul>-->
                @*<li v-for="item in lista">{{item.nombre}}</li>*@
                <!--<li v-for="item in listaFiltrada">{{item.nombre}}</li>
            </ul>
        </div>
    </div>
</div>-->
@*@section scripts{
    <script>
        var url = '@Url.RouteUrl("Default")';
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: "#root",
            data: {
                mensaje: 'Hello World',
                lista: [],
                txtbuscar: ''
            },

            computed: {
                listaFiltrada: function () {
                    var arreglo = this.lista;
                    var query = this.txtbuscar;

                    if (query !== "") {
                        arreglo = this.lista.filter(function (cliente) {
                            return (cliente.nombre.toLowerCase() + " ").indexOf(query.toLowerCase()) > -1;
                        })
                    }
                    return arreglo;
                }
            },

            created: function () {
                axios.get(url + "/getReportes")
                    .then(function (response) {
                        console.table(response.data);
                        app.lista = response.data;
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            }
        })
    </script>
}*@
